# You can get this file by clicking the Download button for the credentials 
# in the Manage tab of your service instance.
ASSISTANT_APIKEY=
ASSISTANT_IAM_APIKEY=
ASSISTANT_URL=
ASSISTANT_AUTH_TYPE=